NODE_ENV=development
GITHUB_TOKEN_FILE=.secrets/github_token

PGHOST=localhost
PGPORT=5432
PGDATABASE=score_db
PGUSER=score_user
PGPASSWORD=score_pass

API_PORT=3000
WEB_PORT=3001

ADMIN_TOKEN=troque_este_token_com_minimo_16_chars
NEXT_PUBLIC_ADMIN_TOKEN=troque_este_token_com_minimo_16_chars
NEXT_PUBLIC_API_BASE=http://localhost:3000/api/v1
CORS_ORIGINS=http://localhost:3001,http://127.0.0.1:3001

CLICKSIGN_ACCESS_TOKEN=
CLICKSIGN_BASE_URL=https://app.clicksign.com

WORKBANK_API_URL=
WORKBANK_TIMEOUT_SECONDS=50

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

S3_BUCKET=loaders
S3_REGION=us-east-1
S3_INTERNAL_ENDPOINT=http://minio:9000
S3_PUBLIC_ENDPOINT=http://localhost:9000
